/* lato-regular - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/lato-v20-latin-regular.eot'); /* IE9 Compat Modes */
  }


html{
	height: 100vw;
	margin: 0;
}
  
body {
	background-color:white;
	margin: 0;
	height: 100%;
	overflow: hidden
}



body.dark {
	background-color: rgb(37, 37, 37);
}

.mobileAccess{
	opacity: 0;
	z-index: -10;
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;

}


h1 {
	padding-top: 500px;
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 300%;
}
h2 {
	color: black;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 175%;
}
h2.dark {
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 175%;
}
p {
	color:black ;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size:150;
}
p.dark {
	color:white ;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size:150;
}

a {
	color:black;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size:100%;
}

a.dark {
	color:white;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size:100%;
}

.porttext{
	text-decoration: underline;
}

.introcard{
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;
	z-index: 100;
}

.introcard.display-none{
	width: 100%;
	height: 100%;
	padding-top: 25px;
	z-index: -10;
	opacity: 0;
	transition: 0.2s;
}

.Header-Container {
	position: fixed;
	background: white;
	z-index: 10;
	border: 2px black solid;
	width: 50%;
	height: 80px;
	margin-top: 15px;
	margin-left: 25%;
	grid-column-gap:5%;
    display: inline-grid;
    grid-template-columns: 35% auto auto auto auto auto auto;
	align-items: center;
}

.Header-Container.dark {
	background: rgb(37, 37, 37);
	border: 2px white solid;
}

.Sideinfo{
	top: 100px;
	position: fixed;
	align-items: center;
	z-index: 10;
}

#sofDev{
	display: none;
}
#sofDev.display{
	display: grid
}

#sofDev2.dont-display{
	display: none;
}


#sofDev2{
	display: grid;
}

#digIllus{
	display: none;
}
#digIllus.display{
	display: grid
}

#digIllus2.dont-display{
	display: none;
}
#digIllus2{
	display: grid;
}

#grafDes{
	display: none;
}
#grafDes.display{
	display: grid;
}

#grafDes2.dont-display{
	display: none;
}
#grafDes2{
	display: grid;
}

#globecontainer{
	padding-top: 25%;
	z-index: -100;
	position: fixed;
	height: 1200px;
}


#pageContainer{
	height:100%;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	position: absolute;
}

#pageContainer.scrollable{
	overflow-y: scroll;
}

.Article{
	position: absolute;
	display: grid;
	grid-template-rows: (10%);
	grid-template-columns: auto auto;
	font-size: 200%x;
	grid-column-gap:5%;
	height: 100vw;
	width: 50%;
	margin-left:25%;

}

.portfolioOptions{
	display: none;
	transition: 0.2s;
	z-index: -20;
	opacity: 0;
	margin-left: 15%;
}

.portfolioOptions.display{
	display:grid;
	transition: 0.2s;
	z-index: 5;
	opacity: 1;
}

.aboutme{
	display: none;
	z-index: -10;
	opacity: 0;
}

.aboutme.display{
	display:flex;
	z-index: 5;
	opacity: 1;
}

.email{
	display: none;
	z-index: -10;
	opacity: 0;
}

.email.display{
	display:grid;
	z-index: 5;
	opacity: 1;
}

.SoftwareDevelopment{
	transition: 0.5s;
  	grid-template-columns: 1fr 1fr;
  	justify-content: center;
  	text-align: center;
	top: 0;
	z-index: -10;
	opacity: 0;
	width: 20px;
}

.SoftwareDevelopment.display{
	padding-right: 0px;
	padding-top: 150px;
    z-index: 5;
    opacity: 1;
    width: 50vw;
}

.GraphicDesign{
	position: absolute;
	height: 1px;
	width: 1px;
	margin-top: 120px;
	transition: 0.5s;
  	grid-template-columns: 1fr 1fr;
	display:grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr;
  	justify-content: center;
	z-index: -10;
	opacity: 0;
	float: left;

}

.GraphicDesign.display{
	padding-right: 25vw;
    z-index: 11;
    opacity: 1;
    height: 100%;
    width: 92%;
}


.Illustrations{
	height: 1px;
	width: 1px;
	position: absolute;
	margin-top: 120px;
	transition: 0.5s;
	grid-column-start: 1;
  	grid-column-end: 2;
  	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
	z-index: -10;
	opacity: 0;
	margin-left: 25vw;
}

.Illustrations.display{
	margin-left: 0vw;
    z-index: 11;
    opacity: 1;
    height: 100%;
    width: 100%;
}

 .Poster{
	border: black solid 1pt;
	padding: 5px;
 	width: 50%;
 	height: 50%;
 	background-color:white;
 }

.infotext{
	border-bottom: solid  black 1pt;
	border-top: solid  black 1pt;
}
img {
	margin-bottom:10px ;
	z-index: 1999;
	height: 25vw;
	width: 25vw;
	max-width: 400px;
	max-height: 400px;
    transition:transform 0.25s ease;
}


img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
	-webkit-filter: drop-shadow(5px 5px #222);
	filter: drop-shadow(5px 5px #222);

}

.topNav{
	display: none;
	text-align: center;
	margin-left: 25% ;
	margin-right: 25% ; 
	transition: 0.5s;
	width: 50%;
	margin-top: 100px;
}

.topNav.top{
	margin-top: 0px;
}
@media only screen and (max-width: 600px){
	body{
		width: 100vw;
	}
	.GraphicDesign.display{
		  grid-template-columns: 1fr ;
		  margin-top: 0;
	}
	.Illustrations.display{
		grid-template-columns: 1fr;
		margin-top: 0;

	}
	.Poster img{
	height: 70vw;
	width: 70vw;
	}
	.Poster img:hover {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
	}
	.topNav{
		display: inline-flex;
	}

	.Sideinfo{
		display: none;
	}

	#portButton{
		display: none;
	}
	#hbutton{
		display: none;
	}
	.Header-Container{
		align-content: center;
	}
}


.footer{
	position: fixed;
	bottom: 0;
	align-items: center;
	float: right;
	z-index: 20;
}


@keyframes fadeIn{
	to{
		opacity: 1;
	}
}

.fade-in{
	opacity: 0;
	animation: fadeIn 0.5s ease-in forwards;
}

::-webkit-scrollbar {

  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
